{% extends "base.html" %}
{% block content %}

<h3 class="center-align deep-purple-text text-darken-4">Register</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- username -->
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix deep-purple-text text-darken-4">account_box</i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix deep-purple-text text-darken-4">lock</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large deep-purple darken-4 text-shadow">
                    Register <i class="material-icons prefix white-text">input</i> 
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}